@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --neutral-dark-blue: #1d1e20;
    --neutral-gray: #505e63;
    --neutral-light-blue--2: #d5dfff;
    --neutral-light-blue--1: #f4f5ff;
    --neutral-violet--3: #1f1346;
    --neutral-violet--2: #2f1c6a;
    --neutral-violet--1: #5431bd;
    --neutral-violet--0: #522aca;
    --neutral-light-violet--3: #673de6;
    --neutral-light-violet--2: #715bb3;
    --neutral-light-violet--1: #e2dbfc;
    
    
    --neutral-white: #ffffff;
    --neutral-green: #00b090;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

/*----------------------------------------NAVIGATION-----SECTION----------------------------------------*/

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--neutral-white);
    box-shadow: -2px -17px 28px 3px rgba(29,34,76,0.5);
}

/*-------------------------HOMEPAGE-----LINK-------------------------*/

.nav-section__homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-section__homepage-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-section__main-logo-img {
    height: 30px;
}

/*--------------------MOBILE-----NAV--------------------*/

.nav-section__mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;

}

.nav-section__mobile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.nav-section__burguer-icon svg {
    width: 100%;
    height: 100%;
}

/*-----------------------------------NAVIGATION-----MENU-----------------------------------*/

.nav-section__main-menu-wrapper {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 40px;
}

/*---------------NAV-----MENU-----START---------------*/

.nav-section__main-menu-start {
    width: 100%;
}

.nav-section__menu-item-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;
}

.nav-section__menu-item:hover {
    cursor: pointer;
}

.nav-section__menu-item-txt {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--neutral-dark-blue);
    background-color: var(--neutral-white);
}

.nav-section__menu-item-txt:hover {
    color: var(--neutral-gray);
}

.nav-section__menu-btn {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--neutral-white);
}

.nav-section__menu-btn:hover {
    cursor: pointer;
}

.nav-section__menu-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.nav-section__menu-item-svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*---------------NAV-----MENU-----END---------------*/

.nav-section__main-menu-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.nav-section__user-lenguage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section__lenguage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-white);
    border: none;
    gap: 4px;
}

.nav-section__lenguage-btn:hover {
    cursor: pointer;
}

.nav-section__lenguage-flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
}

.nav-section__lenguage-flag-img {
    width: 100%;
}

.nav-section__user-txt {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: var(--neutral-dark-blue);
}

.nav-section__user-txt:nth-child(2):hover {
    color: var(--neutral-gray);
}

.nav-section__user-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid var(--neutral-dark-blue);
}

.nav-section__login-link {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------*/

/*----------------------------------------HEADER----------SECTION----------------------------------------*/

.header {
    width: 100%;
}

.header-section__background {
    padding: 14px 0 36px;
    width: 100%;
    margin-top: 88px;
}

.header-section__container {
    column-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-section__upper-content {
    width: 100%;
}

.header-section__lower-content {
    width: 100%;
}

/*-------------------------UPPER-----CONTENT-------------------------*/

.header-section__upper-content-container {
    margin-bottom: 32px;
    width: 100%;
}

/* ------------------------------------- */

.header-section__titles-container {
    margin-bottom: 16px;
}

.header-section__main-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--neutral-violet--2);
}

.header-section__subtitle-txt {
    margin: 8px 0px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--neutral-violet--2);
}

.header-section__subtitle-percentage {
    color: var(--neutral-light-violet--3);
}

/*----------------------------------------*/

.header-section__list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-section__list-element-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.header-section__list-element-container:nth-child(1),
.header-section__list-element-container:nth-child(2) {
    margin-bottom: 2px;
}

.header-section__list-element-container:nth-child(3) {
    margin-bottom: 16px;
}

.header-section__check-svg {
    width: 24px;
    fill: var(--neutral-green);
}

.header-section__list-element-txt {
    color: var(--neutral-violet--2);
}

.header-section__question-svg {
    width: 16px;
    fill: var(--neutral-violet--2);
}

/*----------------------------------------*/

.header-section__subs-price-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    margin-bottom: 2px;
}

.header-section__subs-txt-container {
    display: flex;
    align-items: baseline;
}

.header-section__small-txt {
    font-size: 20px;
    line-height: 24px;
    color: var(--neutral-violet--2);
}

.header-section__large-txt {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color: var(--neutral-violet--2);
}

/*----------------------------------------*/

.header-section__sale-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 16px;
}

.header-section__sale-txt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--neutral-violet--2);
}

/*----------------------------------------*/

.header-section__timer-link-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.header-section__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: var(--neutral-light-violet--3);
}

.header-section__link-container:hover {
    cursor: pointer;
    background-color: var(--neutral-violet--1);
    transition: background-color 0.4s ease-in-out;
}

.header-section__link-txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--neutral-white);
}

.header-section__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: var(--neutral-light-violet--1);
}

.header-section__timer-txt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--neutral-violet--2);
}

/*----------------------------------------*/

.header-section__guarantee-container {
    display: flex;
    justify-content: left;
    margin-top: 12px;
}
 
.header-section__guarantee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-section__shield-icon-svg {
    width: 16px;
    fill: var(--neutral-violet--2);
}

.header-section__guarantee-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutral-violet--2);
}

/*-------------------------LOWER-----CONTENT-------------------------*/

.header-section__img-container {
    width: 100%;
}

.header-section__img {
    width: 100%;
}

/*---------------------------------------------------------------------------------------------------------*/

/*-----------------------------------MIGRATION----------WEB----------SECTION-----------------------------------*/

.webmig-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px 0px;
    background-color: var(--neutral-violet--3);
}

/*--------------------TITLES--------------------*/

.webmig-section__titles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    margin-bottom: 32px;
    text-align: center;
    padding: 0px 16px;
}

.webmig-section__title {
    font-size: 24px;
    line-height: 32px;
    color: var(--neutral-white);
}

.webmig-section__subtitle {
    font-size: 16px;
    margin-top: 24px;
    line-height: 24px;
    color: var(--neutral-white);
}

/*--------------------CARDS--------------------*/

.webmig-section__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding: 0px 16px;
    row-gap: 16px;
}

.webmig-section__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.webmig-section__card-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: none;
    border-radius: 16px;
    background-color: var(--neutral-violet--2);
    gap: 16px;
    padding: 32px;
}

.webmig-section__card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--neutral-light-violet--3);
}

.webmig-section__card-icon-svg {
    width: 24px;
    fill: var(--neutral-white);
}

.webmig-section__card-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.webmig-section__card-title-txt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--neutral-white);
}

.webmig-section__card-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral-white);
}

/*--------------------LINK--------------------*/

.webmig-section__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.webmig-section__start-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.webmig-section__start {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 48px;
    background-color: var(--neutral-light-violet--3);
    width: 100%;
}

.webmig-section__start:hover {
    cursor: pointer;
    background-color: var(--neutral-violet--0);
    transition: background-color 0.4s ease-in-out;
}


.webmig-section__link-txt {
    font-size: 16px;
    font-weight: 700;
    color: var(--neutral-white);
}

/*--------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------FOOTER--------------------SECTION-----------------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-section__background {
    padding-top: 24px;
    background-color: var(--neutral-light-blue--1);
}

.footer-section__content-container {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding: 0px 16px;
}

.footer-section__logo-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

/*--------------------SOCIAL--------------------*/

.footer-section__social-icons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 8px;
}

.footer-section__social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.66px;
    height: 28.66px;
    border: none;
    border-radius: 6px;
    background-color: var(--neutral-violet--2);
}

.footer-section__social-icon-link:hover {
    cursor: pointer;
    background-color: var(--neutral-light-violet--2);
    transition: background-color 0.4s ease-in-out;
}

.footer-section__social-icon-svg {
    fill: var(--neutral-white);
    width: 18px;
}

/*--------------------HOMEPAGE--------------------*/

.footer-section__homepage-link-container {
    display: flex;
    height: 30px;
    width: 147px;

}

.footer-section__homepage-img {
    width: 100%
}

/*--------------------LEGAL--------------------*/

.footer-section__legal-container {
    display: flex;
    margin-bottom: 8px;
}

.footer-section__legal-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    max-width: 328px;
}

.footer-section__legal-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutral-violet--2);
}

.footer-section__legal-link:hover {
    cursor: pointer;
    color: var(--neutral-light-violet--2);
    transition: color 0.4s ease-in-out;
}

/*--------------------PAYMENT--------------------*/

.footer-section__payment-methods-icons-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 8px;
    margin-bottom: 24px;
}

.footer-section__payment-icon-container {
    width: 60px;
    height: 40px;
}

.footer-section__payment-method-img {
    width: 60px;
    height: 40px;
    border: 1px solid var(--neutral-light-blue--2);
    border-radius: 6px;
}

.footer-section__payment-more-link {
    align-self: center;
    color: var(--neutral-light-violet--3);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.footer-section__payment-more-link:hover {
    cursor: pointer;
}

/*--------------------COPYRIGHT--------------------*/

.footer-section__copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 0px 16px 0px;
    border-top: 1px solid var(--neutral-light-blue--2);
}

.footer-section__copyright-upper-txt,
.footer-section__copyright-lower-txt {
    font-size: 14px;
    line-height: 24px;
    color: var(--neutral-violet--2);
}

.footer-section__copyright-upper-txt {
    margin-bottom: 8px;
}

/*----------------------------------------------------------------------------------------------------*/
/*-----------------------------------AI-----CHATBOT-----BUTTON----------------------------------------*/

.chatbot-btn-container {
    padding: 4px; 
    margin-bottom: 8px;
    position: fixed;
    bottom: 0px;
    right: 8px;
    background-color: transparent;
}

.chatbot-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    width: 186.5px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: var(--neutral-light-violet--3);
    box-shadow: 1px 1px 51px -11px rgba(0,0,0,0.41);
}

.chatbot-btn:hover {
    cursor: pointer;
    background-color: var(--neutral-violet--1);
}

.chatbot-btn-icon {
    width: 12.07px;
    height: 13.94px;
}

.chatbot-btn-txt {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    color: var(--neutral-white);
}

/*----------------------------------------------------------------------------------------------------*/

/*-----------------------------------RESPONSIVE---------------DESIGN----------------------------------------*/

@media screen and (min-width: 768px) {
    .header-section__background {
        padding: 62px 0 80px;
    }
    .header-section__container {
        max-width: 768px;
        padding: 0px 40px;
    }
    .header-section__upper-content {
        margin-bottom: 40px;
    }
    .header-section__upper-content-container {
        margin-bottom: 0px;
    }
    .header-section__timer-link-container {
        flex-direction: row;
        justify-content: flex-start;
    }
    .header-section__link-container {
        width: 190px;
    }
    .header-section__timer {
        width: 160px;
    }
    .header-section__main-title {
        font-size: 28px;
        line-height: 40px;
    }
    .header-section__large-txt {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 1px;
    }
    .header-section {
        gap: 8px;
    }
    .webmig-section {
        padding: 64px 0px;
    }
    .webmig-section__titles-container {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 40px;
    }
    .webmig-section__cards-container {
        row-gap: 24px;
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .webmig-section__title {
        font-size: 28px;
        line-height: 40px;
    }
    .footer-section__content-container {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .footer-section__logo-section {
        margin-top: 8px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-section__copyright-container {
        padding: 24px 0px;
    }
    .footer-section__social-icons-container {
        flex-basis: 50%;
        justify-content: flex-end;
        gap: 20px;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0;
    }
    .footer-section__homepage-link-container {
        order: -1;
    }
    .footer-section__legal-container {
        margin-bottom: 0px;
    }
    .footer-section__legal-links-container {
        gap: 16px;
        max-width: none;
    }
    .footer-section__payment-methods-icons-container {
        margin-bottom: 40px;
        max-width: none;
    }
    .footer-section__copyright-upper-txt {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1025px) {
    .header-section__background {
        padding: 36px 0 96px;
    }
    .header-section__container {
        column-gap: 24px;
        padding: 0px 40px;
        max-width: 1472px;
    }
    .header-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-section__upper-content {
        max-width: 463px;
        margin-bottom: 0px;
    }
    .header-section__main-title {
        font-size: 36px;
        letter-spacing: 1px;
    }
    .header-section__subtitle-txt {
        font-size: 20px;
        line-height: 32px;
    }
    .header-section__small-txt {
        font-size: 17px;
    }
    .header-section__large-txt {
        font-size: 48px;
    }
    .header-section__sale-txt {
        font-size: 20px;
    }
    .header-section__upper-content-container {
        margin-bottom: 0px;
    }
    .header-section__titles-container {
        margin-bottom: 24px;
    }
    .header-section__sale-container {
        margin-bottom: 24px;
    }
    .header-section__list-element-container:nth-child(3) {
        margin-bottom: 24px;
    }
    .header-section__sale-txt {
        line-height: 32px;
    }
    .header-section__lower-content {
        max-width: 880px;
    }
    .webmig-section__titles-container {
        margin-bottom: 48px;
        max-width: 1208px;
    }
    .webmig-section__title {
        font-size: 36px;
    }
    .webmig-section__cards-container {
        flex-direction: row;
        align-items: stretch;
        column-gap: 24px;
        max-width: 1208px;
    }
    .webmig-section__card-container {
        align-items: stretch;
    }
    .footer-section__content-container {
        max-width: 1208px;
        column-gap: 24px;
    }
    .footer-section__logo-section {
        margin-bottom: 24px;
        align-items: center;
    }
    .footer-section__legal-container {
        order: 4;
        height: 24px;
    }
    .footer-section__payment-methods-icons-container {
        margin-bottom: 0px;
        flex: 1 0 50%;
    }
    .footer-section__legal-links-container {
        height: 100%;
    }
    .footer-section__legal-link {
        height: 100%;
    }
    .footer-section__copyright-container {
        flex-direction: row;
        gap: 128px;
    }
}

@media screen and (min-width: 1140px) {
    .nav-section__main-menu-wrapper {
        display: flex;
    }
    .nav-section__mobile {
        display: none;
    }
    .nav-section {
        padding: 0px 0px;
    }
    .nav-section__homepage {
        padding: 29px 0px 29px 40px;
    }
}

@media screen and (min-width: 1367px) {
    .header-section__lower-content {
        max-width: 880px;
    }
    .header-section__small-txt {
        font-size: 20px;
    }
}