@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary--100: #1f1346;
    --primary--80: #2f1c6a;
    --primary--70: #673de6;
    --primary--40: #e2dbfc;
    --neutral--0: #ffffff;
    --neutral--1: #000000;
    --green--100: #00b090;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section__main {
    display: flex;
    align-items: center;
    height: 62px;
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: var(--neutral--0);
    z-index: 1000;padding: 16px;
    transition: box-shadow 0.5s linear;
}

.header-section__homepage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section__homepage-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-section__homepage-img {
    display: block;
    width: 147px;
}

.header-section__homepage {
    padding: 16px 0px 16px 20px;
}

.header-section__navigation {
    display: none;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
    width: 100%;
}

.header-section__navigation-menu {
    display: flex;
    gap: 32px;
}

.header-section__navigation-menu-item {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    gap: 6px;
}

.header-section__navigation-menu-txt {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--neutral--1);
}

.header-section__down-icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 1em;
    width: 1em;
    margin: 4px 0px 0px 0px;
    stroke-width: 6;
}

.header-section__login-btn {
    display: flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    background: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 16px;
}

.header-section__navigation-right {
    display: flex;
    gap: 32px;
}

.header-section__user-lenguage {
    display: flex;
    justify-content: center;
    height: 40px;

}

.header-section__lenguage-container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}


.header-section__lenguage-flag,
.header-section__lenguage-btn {
    background: none;
    display: flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border: none;
}

.header-section__lenguage-flag {
    height: 20px;
}

.header-section__mobile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px 20px 0px 0px;
}

.header-section__mobile-burguer {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section__main-division {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin: 30px 100px 10px 0px;
}

.hero-section__first-container {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    text-align: left;
}

.hero-section__main-img {
    width: 100%;
}

.hero-section__main-img-container {
    display: flex;
    max-width: 508px;
}

.hero-section__title {
    font-size: 24px;
    margin: 0px 0px;
    color: var(--primary--80);
}

.hero-section__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0px 0px 0px;
    color: var(--primary--80)
}

.hero-section__subtitle-percentage {
    color: blueviolet;
}

.hero-section__list-element:nth-child(1) {
    display: flex;
    height: 24px;
    padding: 0px 0px 0px 6px;
    margin: 16px 0px 2px;
    gap: 6px;
    color: var(--primary--80);
}
.hero-section__list-element:nth-child(2) {
    display: flex;
    height: 24px;
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 2px;
    gap: 6px;
    color: var(--primary--80)
}

.hero-section__list-element:nth-child(3) {
    display: flex;
    height: 24px;
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 16px;
    gap: 6px;
    color: var(--primary--80);
}

.hero-section__list-check-icon {
    width: 24px;
    height: 24px;
    fill: var(--green--100);
}

.hero-section__monthly-price-container {
    display: flex;
    height: 42px;
}

.hero-section__monthly-price-small {
    font-size: 20px;
    color: var(--primary--80)
}

.hero-section__monthly-price-large {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary--80)
}

.hero-section__subs-txt {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0px 10px 0px;
    color: var(--primary--80)
}

.hero-section__startnow-link,
.hero-section__time-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    margin: 10px 0px 0px 0px;  
}
.hero-section__time-sign {
    background-color: var(--primary--40)
}
.hero-section__startnow-link {
    background-color: var(--primary--70) ;
}

.hero-section__time-txt {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--primary--70);
}

.hero-section__startnow-txt {
    font-size: 16px;
    font-weight: 600;
    color: var(--neutral--0)
}

.hero-section__guarantee {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 40px;
    color: var(--primary--80)
}

.hero-section__grt-txt {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.hero-section__grt-svg {
      width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

.hero-section__time-link {
    display: flex;
    flex-direction: column;
}

.site-migration {
    background-color: var(--primary--100);
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: "DM Sans", sans-serif;
    color: var(--neutral--0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 32px 16px;
    width: 100%;
    border: none;

}

.site-migration__main-title {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    max-width: 508px;
}

.site-migration__par {
    font-size: 16px;
    margin: 24px 0px 0px;
    text-align: center;
    max-width: 488px;
}

.site-migration__card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.site-migration__card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.site-migration__card { 
    background-color: var(--primary--80);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    height: 100%;
    padding: 32px;
    text-align: left;
    max-width: 508px;   
}

.site-migration__card-icons-container {
    background-color: var(--primary--70);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 40px;
    width: 40px;
}

.site-migration__card-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-migration__card-svg {
    width: 24px;
    height: 24px;
}

.site-migration__card-txt-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.site-migration__card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.site-migration__start-btn {
  width: 168px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--primary--70);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 48px;
}

.site-migration__start-btn a {
    all: unset;
    font-size: 16px;
    font-weight: 700;
}

.footer-section__main-container {
    font-family: "DM Sans", sans-serif;
    margin: 24px 0px 0px;
}

.footer-section__main-contents {
    margin: 0px 24px 0px 24px;
}

.footer-section__sclntw-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-section__sclntw-icons-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: var(--primary--80);
}

.sclntw-icon-svg {
    width: 16px;
    height: 16px;
    color: var(--neutral--0);
}

.footer-section__polcond-links {
    display: flex;
    margin: 0px 0px 8px;
}

.footer-section__polcond-link-item {
    height: 48px;
    text-decoration: none;
    font-size: 14px;
    max-width: 110px;
    color:var(--neutral--0);
}

.footer-section__payment-method-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footer-section__payment-method-container1 {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.footer-section__payment-method-container2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0px 0px 24px 0px;
}

.footer-section__payment-img {
    height: 40px;
    width: 60px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid;
}

.footer-section__payment-method-more-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary--80);
}

.footer-section__copyright-container {
    display: flex;
    flex-direction: column;
    padding: 24px 0px 16px;
    
}

.footer-section__copyright-txt {
    margin: 0px 0px 8px;
    font-size: 14px;
    color: var(--primary--80);
}

.footer-section__copyright-iva {
    font-size: 14px;
    color: var(--primary--80);
}

@media screen and (min-width: 768px) {
    .hero-section__title,
    .hero-section__main-img-container {
        max-width: none;
        width: 688px;
    }
    .hero-section__time-link {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        height: 40px;
    }
    .hero-section__startnow-link {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 158px;
    }
    .hero-section__time-sign {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 128px;
    }
    .hero-section__subs-txt {
        margin: 6px 0px 20px 0px;
    }
    .site-migration__main-title,
    .site-migration__par,
    .site-migration__card {
        min-width: 688px;
    }
}

@media screen and (min-width: 1025px) {
    .hero-section__main-division {
        flex-direction: row;
        padding: 0px 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hero-section__title {
        width: 450px;
    }
    .hero-section__main-img-container {
        width: none;
        min-width: 550px;
    }
    .hero-section__first-container {
        margin: 30px 0px;
    }
    .site-migration__start-btn-wrapper {
        display: none;
    }
    .site-migration__main-title,
    .site-migration__par,
    .site-migration__card {
        max-width: 1128px;
    }
    /*.site-migration__card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }*/

    .site-migration__card {
        width: 300px;
    }
}

@media screen and (min-width: 1140px) {
    .header-section__mobile-container {
        display: none;
    }
    .header-section__navigation {
        display: flex
    }
    .header-section__homepage {
        padding: 29px 0px 29px 40px;
    }
    .header-section__main {
        margin: 12px 12px 20px 0px;
    }
    
}